vti_encoding:SR|utf8-nl
vti_author:SR|DevNotebook\\tomokowitz
vti_modifiedby:SR|TWYCANAL\\okowitz
vti_timelastmodified:TR|29 Sep 2016 12:04:33 -0000
vti_timecreated:TR|17 Sep 2016 16:19:53 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Cthuhlu.htm EldFen.htm Olympic.htm TanisHome.htm AmandaLake.htm McNeilIsland.htm WhereIsTanis.htm okowitz3d.htm okowitz3c.htm okowitz5c.htm sitemenu.htm Dupont.htm okowitz3b.htm FromBeyond.htm Carter.htm default.htm
vti_nexttolasttimemodified:TW|23 Sep 2016 02:07:17 -0000
vti_cacheddtm:TX|29 Sep 2016 12:04:33 -0000
vti_filesize:IR|1025
